/*fonts*/
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'),
  url('../fonts/roboto-v20-latin-regular.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/roboto-v20-latin-500.woff2') format('woff2'),
  url('../fonts/roboto-v20-latin-500.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v20-latin-700.woff2') format('woff2'),
  url('../fonts/roboto-v20-latin-700.woff') format('woff');
}

/*general styles*/
.body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 26px;
  font-family: "Roboto", "Arial", sans-serif;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
.container {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 20px;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important; 
  width: 1px !important; 
  overflow: hidden;
}

/* general styles */
.client-menu {
  display: flex;
  align-items: center;
}
.logo-blog-page {
  margin-right: auto;
  text-decoration: none;
}
.toggel-btn {
  cursor: pointer;
  display: inline-block;
  background: none;
  border: none;
  outline: none;
}
.mask-group {
  position: relative;
}
.mask-group {
  margin-top: 50px;
}
.mask-group-text {
  position: absolute;
  top: 0;
  right: 0;
}
.h3-blog-page {
  font-weight: 500;
  font-size: 44px;
  line-height: 74px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF
}
.main-p-blog-page {
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.4);
}

/* CONTACTS-FOOTER */
.contacts-footer {
  background-color: #316099;
  border-radius: 0px 200px 0px 0px;
  margin-right: 100px;
  color: #fff;
}

.footer-top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 95px 100px 95px 0;
}

.footer-top-content h3 {
  width: 330px;
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;  
  color: #FFFFFF;
  margin-bottom: 32px;
}

.footer-top-content p {
  padding: 0;
  margin: 0;
  width: 460px;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: rgba(255, 255, 255, 0.5);
}

.footer-top-btn {
  text-decoration: none;
  display: inline-block;
  background: #5A98D0;
  border-radius: 10px;
  padding: 15px 74px;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}

.footer-divider {
  margin-right: 250px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
}

.footer-bottom {
  display: flex;
  padding: 95px 100px 50px 0;
}

.footer-logo {
  width: 190px;
  height: 48px;
  display: inline-block;
  margin-bottom: 30px;
}

.contacts-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 264px;
}

.contacts-list a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  margin-bottom: 25px;
}

.address::before {
  content: "A.";
  margin-right: 16px;
  display: inline;
}

.address {
  display: flex;
}

.phone::before {
  content: "T.";
  margin-right: 16px;
}

.email::before {
  content: "E.";
  margin-right: 16px;
}

.about-section {
  margin-left: 100px;
  margin-right: 80px;
}

.footer-bottom h4 {
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

.footer-bottom a {
  text-decoration: none;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

.about-us li {
  margin-bottom: 16px;
}

.about-us {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.copyright {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: rgba(255, 255, 255, 0.4);
  padding: 0;
  margin: 0;
  padding-bottom: 64px;
}