  /*fonts*/

  @font-face {
     font-display: swap;
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 400;
     src: url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'), url('../fonts/roboto-v20-latin-regular.woff') format('woff');
  }

  @font-face {
     font-display: swap;
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 500;
     src: url('../fonts/roboto-v20-latin-500.woff2') format('woff2'), url('../fonts/roboto-v20-latin-500.woff') format('woff');
  }

  @font-face {
     font-display: swap;
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 700;
     src: url('../fonts/roboto-v20-latin-700.woff2') format('woff2'), url('../fonts/roboto-v20-latin-700.woff') format('woff');
  }

  /*general styles*/

  .body {
     margin: 0;
     padding: 0;
     font-size: 16px;
     line-height: 26px;
     font-family: "Roboto", "Arial", sans-serif;
     box-sizing: border-box;
     overflow-x: hidden;
  }

  *, *::before, *::after {
     box-sizing: inherit;
  }

  .container {
     max-width: 980px;
     margin: 0 auto;
     padding: 0 20px;
  }

  *, *::before, *::after {
     box-sizing: inherit;
  }

  .container {
     max-width: 1200px;
     margin: 0 auto;
     padding: 0 4px;
  }

  .container {
     max-width: 980px;
     margin: 0 auto;
     padding: 0 20px;
  }

  *, *::before, *::after {
     box-sizing: inherit;
  }

  .visually-hidden {
     position: absolute !important;
     clip: rect(1px 1px 1px 1px);
     clip: rect(1px, 1px, 1px, 1px);
     padding: 0 !important;
     border: 0 !important;
     height: 1px !important;
     width: 1px !important;
     overflow: hidden;
  }

  /*BODY*/

  /*index-header*/

  .site-header {
     background-image: url("../img/index-header-img@2x.png");
     background-repeat: no-repeat;
     -webkit-background-size: 668px 573px;
     background-size: 668px 573px;
     background-position: top 81px right 40px;
  }

  .header-box-shadow {
     padding-bottom: 70px;
     background: linear-gradient(0deg, rgba(152, 195, 232, 0.2) 8.84%, rgba(152, 195, 232, 0) 31.12%);
  }

  .header-container {
     max-width: 1200px;
     margin: 0 auto;
  }

  .site-navbar {
     display: flex;
     align-items: center;
     margin-top: 40px;
     margin-bottom: 46px;
  }

  .site-logo {
     margin-right: auto;
  }

  .toggel-btn {
     display: inline-block;
     background: none;
     border: none;
     outline: none;
     cursor: pointer;
  }

  .header-intro {
     padding-top: 70px;
     min-height: 525px;
  }

  .header-intro-text h1 {
     margin: 0;
     width: 605px;
     font-size: 64px;
     line-height: 74px;
     letter-spacing: 0.04em;
     color: #1F3F68;
  }

  .header-intro-text p {
     width: 425px;
     font-size: 16px;
     line-height: 26px;
     letter-spacing: 0.05em;
     color: #1F3F68;
     opacity: 0.6;
     margin-bottom: 70px;
  }

  .header-intro-text a {
     text-decoration: none;
     padding: 15px 50px;
     background: #5A98D0;
     box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
     border-radius: 10px;
     font-size: 16px;
     line-height: 26px;
     letter-spacing: 0.04em;
     color: #FFFFFF;
  }

  .header-intro-text a:hover {
     background: #4581b6;
     box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.6);
  }

  .mask-group {
     background-image: url("../img/background-mask.png");
     background-repeat: no-repeat;
  }

  .mask-group {
     margin-top: 50px;
  }

  .mask-group-text {
     padding: 50px 0;
  }

  .h3-blog-page {
     margin: 0;
     font-weight: 500;
     font-size: 44px;
     line-height: 74px;
     text-align: center;
     letter-spacing: 0.04em;
     color: #ffffff;
  }

  .main-p-blog-page {
     max-width: 780px;
     margin: 0 auto;
     font-size: 20px;
     line-height: 30px;
     text-align: center;
     letter-spacing: 0.04em;
     color: rgba(255, 255, 255, 0.4);
  }

  /* index main help section */

  .help-clients-box {
     display: flex;
     justify-content: space-between;
     margin: 0;
     padding: 192px 0;
  }

  .help-clients-header {
     width: 338px;
     margin-top: 0;
     margin-bottom: 160px;
     font-weight: 500;
     font-size: 36px;
     line-height: 46px;
     letter-spacing: 0.05em;
     color: #1F3F68;
  }

  .help-type-boxes {
     width: 380px;
     background: #FFFFFF;
     box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
     border-radius: 10px;
     padding-top: 48px;
     padding-bottom: 48px;
     padding-right: 59px;
     padding-left: 37px;
  }

  .help-type-boxes::before {
     display: inline-block;
     width: 182px;
     height: 132px;
     background-repeat: no-repeat;
     background-size: contain;
     content: '';
     margin: 56px 55px;
     margin-top: 0;
  }

  .business-help::before {
     background-image: url(../img/business.svg)
  }

  .tech-help::before {
     background-image: url(../img/tech.svg)
  }

  .product-help::before {
     background-image: url(../img/product.svg)
  }

  .help-type-boxes h2 {
     margin-top: 0;
     margin-bottom: 16px;
     font-weight: 500;
     font-size: 20px;
     line-height: 30px;
     letter-spacing: 0.05em;
     color: #1F3F68;
  }

  .help-type-boxes p {
     margin-top: 0;
     margin-bottom: 32px;
     font-size: 16px;
     line-height: 26px;
     letter-spacing: 0.05em;
     color: #1F3F68;
     opacity: 0.6;
  }

  .help-type-boxes a {
     width: 110px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin: 0;
     text-decoration: none;
     font-weight: 500;
     font-size: 14px;
     line-height: 30px;
     letter-spacing: 0.05em;
     color: #5A98D0;
     transition: all 0.4s ease;
  }

  .help-type-boxes a::after {
     display: inline-block;
     width: 16px;
     height: 16px;
     background-image: url(../img/nextarrow.svg);
     background-size: contain;
     content: '';
  }
  .help-type-boxes a:hover{
     width: 120px;
  }
  .tech-help {
     margin-bottom: 100px;
  }

  /* contact-header */

  .header-top {
     margin-top: 40px;
     margin-bottom: 65px;
  }

  .header-top-box {
     max-width: 1200px;
     margin: 0 auto;
     display: flex;
     align-items: center;
     justify-content: space-between;
  }

  .img-blog-page, .toggel-btn-img {
     display: block;
  }

  .header-bottom {
     width: 100%;
     height: 250px;
     margin-bottom: 65px;
     background-image: url("../img/background-mask.png");
     background-repeat: no-repeat;
     background-position: center center;
     background-size: cover;
  }

  .header-bottom-heading {
     margin-top: 0;
     margin-bottom: 16px;
  }

  .header-bottom-text {
     max-width: 780px;
     margin: 0 auto;
  }

  /* contact-footer */

  .contacts-footer {
     margin-right: 100px;
     background-color: #316099;
     border-radius: 0px 200px 0px 0px;
     color: #fff;
  }

  .footer-top {
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 95px 100px 95px 0;
  }

  .footer-top-content h3 {
     width: 330px;
     padding: 0;
     margin: 0;
     margin-bottom: 32px;
     font-weight: 500;
     font-size: 36px;
     line-height: 46px;
     letter-spacing: 0.05em;
     color: #FFFFFF;
  }

  .footer-top-content p {
     width: 460px;
     padding: 0;
     margin: 0;
     font-size: 16px;
     line-height: 26px;
     letter-spacing: 0.05em;
     color: rgba(255, 255, 255, 0.5);
  }

  .footer-top-btn {
     display: inline-block;
     padding: 15px 74px;
     background: #5A98D0;
     text-decoration: none;
     font-size: 16px;
     line-height: 26px;
     text-align: center;
     letter-spacing: 0.04em;
     color: #FFFFFF;
     border-radius: 10px;
  }

  .footer-divider {
     height: 2px;
     margin-right: 250px;
     background-color: rgba(255, 255, 255, 0.3);
     border: none;
  }

  .footer-bottom {
     display: flex;
     padding: 95px 100px 50px 0;
  }

  .footer-logo {
     display: inline-block;
     width: 190px;
     height: 48px;
     margin-bottom: 30px;
  }

  .contacts-list {
     width: 264px;
     padding: 0;
     margin: 0;
     list-style-type: none;
  }

  .contacts-list a {
     display: inline-block;
     margin-bottom: 25px;
     color: #fff;
     text-decoration: none;
     font-size: 16px;
     line-height: 26px;
     letter-spacing: 0.05em;
  }

  .address::before {
     content: "A.";
     display: inline;
     margin-right: 16px;
  }

  .address {
     display: flex;
  }

  .phone::before {
     content: "T.";
     margin-right: 16px;
  }

  .email::before {
     content: "E.";
     margin-right: 16px;
  }

  .about-section {
     margin-left: 100px;
     margin-right: 80px;
  }

  .footer-bottom h4 {
     margin: 0;
     padding: 0;
     margin-bottom: 32px;
     font-weight: 500;
     font-size: 20px;
     line-height: 30px;
     letter-spacing: 0.05em;
     color: #FFFFFF;
  }

  .footer-bottom a {
     text-decoration: none;
     font-size: 16px;
     line-height: 26px;
     letter-spacing: 0.05em;
     color: #FFFFFF;
  }

  .about-us li {
     margin-bottom: 16px;
  }

  .about-us {
     list-style-type: none;
     padding: 0;
     margin: 0;
  }

  .copyright {
     margin: 0;
     padding: 0;
     padding-bottom: 64px;
     font-size: 16px;
     line-height: 26px;
     letter-spacing: 0.05em;
     color: rgba(255, 255, 255, 0.4);
  }

  /* our_clients_with_footer */

  .our_clients_with_footer {
     background: #5A98D0;
     border-radius: 200px 0px 0px 0px;
     margin-left: auto;
     margin-right: auto;
     width: 1366px;
     min-height: 1549px;
  }

  .our_clients {
     padding: 96px 213px 125px 213px;
     width: 100%;
     height: 670px;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
  }

  .our_clients_head_text {
     display: flex;
     justify-content: space-between;
     align-items: center;
  }

  /* our clients texts */

  .our_clients_header {
     margin: 0;
     padding: 0;
     width: 240px;
     font-weight: 500;
     font-size: 36px;
     line-height: 46px;
     letter-spacing: 0.05em;
     color: #FFFFFF;
  }

  .our_clients_head_texting {
     margin: 0;
     padding: 0;
     width: 540px;
     font-weight: normal;
     font-size: 16px;
     line-height: 26px;
     letter-spacing: 0.05em;
     color: #FFFFFF;
     opacity: 0.6;
  }

  /* our-clients  */

  .our_clients_table {
     margin: 0;
     padding: 0;
     border-collapse: collapse;
  }

  .first_line {
     border-bottom: 1px solid #9CC1E3;
  }

  .our_clients_logo {
     padding: 1px;
     width: 235px;
     height: 128px;
     border-right: 1px solid #9CC1E3;
  }

  .our_clients_logo:nth-child(4) {
     border: none;
  }

  .our_clients_logo_links {
     width: 100%;
     height: 100%;
     text-transform: uppercase;
     text-decoration: none;
     font-style: normal;
     font-weight: 500;
     font-size: 20px;
     line-height: 46px;
     letter-spacing: 0.02em;
     color: #F2F2F2;
     padding: 47px 42px;
  }

  .link_more_client {
     text-decoration: none;
     font-style: normal;
     font-weight: 500;
     font-size: 20px;
     line-height: 46px;
     letter-spacing: 0.02em;
     color: #FFFFFF;
     padding: 50px 62px;
     background: #4E86BB;
  }

  .our_clients_table {
     margin: 0;
     padding: 0;
     border-collapse: collapse;
  }

  .first_line {
     border-bottom: 1px solid #9CC1E3;
  }

  .our_clients_logo {
     padding: 1px;
     width: 235px;
     height: 128px;
     border-right: 1px solid #9CC1E3;
  }

  .our_clients_logo:nth-child(4) {
     border: none;
  }

  .our_clients_logo_links {
     width: 100%;
     height: 100%;
     text-transform: uppercase;
     text-decoration: none;
     font-style: normal;
     font-weight: 500;
     font-size: 20px;
     line-height: 46px;
     letter-spacing: 0.02em;
     color: #F2F2F2;
     padding: 47px 42px;
  }

  .link_more_client {
     text-decoration: none;
     font-style: normal;
     font-weight: 500;
     font-size: 20px;
     line-height: 46px;
     letter-spacing: 0.02em;
     color: #FFFFFF;
     padding: 50px 62px;
     background: #4E86BB;
  }

  /* modal */

  .modal-section {
     display: none;
     position: fixed;
     left: 0;
     top: 0;
     right: 0;
     bottom: 0;
     background: rgba(68, 81, 102, 0.24);
  }

  .modal-open {
     display: block;
     z-index: 10;
  }

  .modal-box {
     width: 819px;
     display: flex;
     flex-direction: column;
     background-color: #fff;
     box-shadow: 0px 0px 30px rgba(86, 86, 86, 0.25);
     border-radius: 5px;
     margin-top: 180px;
     margin-left: auto;
     margin-right: auto;
  }

  .modal-close-but {
     align-self: flex-end;
     background: none;
     border: none;
     outline: 0;
     margin: 15px;
  }

  .modal-close-but img:hover {
     opacity: 0.8;
  }

  .modal-text {
     width: 678px;
     margin-top: 0;
     margin-bottom: 30px;
     margin-right: 78px;
     margin-left: 63px;
     font-weight: 500;
     font-size: 26px;
     line-height: 31px;
     text-align: center;
     color: #316099;
  }

  .modal-link {
     align-self: center;
     width: 170px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     background-color: #5A98D0;
     border-radius: 5px;
     padding: 12px;
     margin-top: 0;
     margin-bottom: 32px;
     text-decoration: none;
     font-weight: 500;
     font-size: 24px;
     line-height: 28px;
     color: #FFFFFF;
  }

  .modal-link:hover {
     opacity: 0.9;
  }

  /* Contact body - Dildora */

  .contact-info {
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin-top: 57px;
  }

  .footer-contact-info {
     display: flex;
     justify-content: space-between;
     flex-direction: column;
  }

  .contact-info-text {
     width: 300px;
     margin-top: 46px;
  }

  .contact-info-text h3 {
     font-weight: 500;
     font-size: 20px;
     line-height: 30px;
     letter-spacing: 0.04em;
     color: #1F3F68;
     text-transform: uppercase;
     margin: 0;
     padding: 24px 0;
  }

  .contact-info-text p {
     font-weight: 300;
     font-size: 16px;
     line-height: 26px;
     letter-spacing: 0.04em;
     color: #1F3F68;
     opacity: 0.6;
     margin: 0;
  }

  .contact-numbers {
     display: block;
     font-weight: 300;
     font-size: 16px;
     line-height: 26px;
     letter-spacing: 0.04em;
     color: #1F3F68;
     opacity: 0.6;
     text-decoration: none;
     padding-bottom: 16px;
  }

  .contact-numbers::before {
     display: inline-block;
     width: 24px;
     height: 24px;
     background-image: url(../img/contact-phone.svg);
     background-repeat: no-repeat;
     background-position: center;
     margin-right: 18px;
     content: "";
     transform: translateY(25%);
  }

  .contact-website, .contact-mailto {
     display: block;
     font-size: 16px;
     line-height: 26px;
     letter-spacing: 0.05em;
     color: #1F3F68;
     opacity: 0.6;
     text-decoration: none;
     padding-bottom: 16px;
  }

  .contact-website::before {
     display: inline-block;
     width: 24px;
     height: 24px;
     background-image: url(../img/contact-world.svg);
     background-repeat: no-repeat;
     background-position: center;
     margin-right: 18px;
     content: "";
     transform: translateY(25%);
  }

  .contact-mailto::before {
     display: inline-block;
     width: 24px;
     height: 24px;
     background-image: url(../img/contact-email.svg);
     background-repeat: no-repeat;
     background-position: center;
     margin-right: 18px;
     content: "";
     transform: translateY(25%);
  }

  .contact-us-form {
     background: #ffffff;
     box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
     border-radius: 10px;
     padding: 40px;
  }

  .contact-us-form label, .contact-us-form input, .contact-us-form textarea, .contact-us-form button {
     display: block;
  }

  .contact-us-form p {
     font-weight: 500;
     font-size: 20px;
     line-height: 30px;
     letter-spacing: 0.04em;
     color: #1F3F68;
     padding: 16px 0;
     text-transform: uppercase;
  }

  .contact-us-form label {
     font-size: 16px;
     line-height: 30px;
     letter-spacing: 0.04em;
     color: #1F3F68;
     opacity: 0.8;
     margin-top: 24px;
     padding: 8px 0;
  }

  .contact-us-form input {
     width: 428px;
     opacity: 0.4;
     border: 1px solid #356EAD;
     box-sizing: border-box;
     border-radius: 10px;
     padding: 21px 36px;
  }

  .contact-us-form input::placeholder, .contact-us-form textarea {
     font-weight: 300;
     font-size: 16px;
     line-height: 30px;
     letter-spacing: 0.04em;
     color: rgb(31, 63, 104, 0.2);
  }

  .contact-us-form textarea {
     min-width: 428px;
     resize: vertical;
     border: 1px solid rgba(53, 109, 173, 0.4);
     box-sizing: border-box;
     border-radius: 10px;
     padding: 21px 36px;
  }

  .contact-us-form button {
     width: 428px;
     font-weight: 500;
     font-size: 16px;
     line-height: 26px;
     text-align: center;
     letter-spacing: 0.04em;
     color: #ffffff;
     background: #5A98D0;
     box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
     border: none;
     border-radius: 10px;
     padding: 23px 0;
     margin: 72px 0 16px 0;
     text-transform: uppercase;
  }

  .contact-map {
     width: 940px;
     height: 480px;
     margin: 96px 0;
  }